@import url('https://fonts.googleapis.com/css?family=Merriweather');
/*global*/
body {
	font-family: 'Merriweather', serif;
	margin:0;
	padding: 0;
}
.line{
	width: 100vh;
	height: 1px;
	color: gray;
}
/*navigation*/
.navigation {
	width: 100wh;
	height: 7rem;
}
.nav {
	display: inherit;	
	width: 70%;
}
.navLogo {
	padding-top: 1rem;
	font-size: 4rem;
}
.navLogo a{
	text-decoration: none;
	color: black;
}

.navLi li{
	display: inline-block;
	padding-top: 2.5rem; 
	margin-left: 3em;
}
.navLi a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
.navLi a:hover {
	text-decoration: overline;
	color: red;
}


.aCatalog{
	display: inline-block;
	padding-top: 2.5rem;
	font-size: 1,5rem;	
}
.aCatalog a{
	text-decoration: none;
	color: black;
	border: 1.4px solid black;
	border-radius: 0.3rem;
	padding: 1rem 2rem;
	text-transform: uppercase;
}
.aCatalog a:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.top{
	background-color: green;
	height: 80vh;
}
